conda-forge::python>=3.10
conda-forge::r-base
bioconductor-gseabase
r-annotables
r-arrow
r-heatmaply
r-knitr
r-metap
r-nmf
r-tidyverse
r-viridis
frictionless
pyarrow
numpy
pandas
pyyaml
scikit-learn
snakemake-minimal
